/* CSS Document */

body{text-align:center; margin:0; padding:0; font-family:Lucida Grande, Arial; font-size:13px; background-color:#FFFFFF; color:#464646; background-image:url(/images/adminback.jpg); background-repeat:repeat-x; }

.wrapper{margin:0 auto; width:900px;}
	
.content{background-color:#FFFFFF; border:1px solid #bab9b9; text-align:center; padding-bottom:25px;}

.in{width:850px; margin:25px auto; text-align:left;}

.line{border-top:1px solid #bab9b9; height:1px; }



/*.............................................................General.................... */

h1, h2, h3 {margin:0; padding:0; }

h1{font-size:32px;color:#FFFFFF;}

h2{font-family:Georgia; font-size:24px; font-style:italic; }

.author p{margin:0; padding:0; }

.forms{line-height:2em; }

a:link, a:visited{color:#30a4b1; text-decoration:none;}

a:hover{color:#f7941d;}

.v_line{padding:0 5px; color:#999999;}


/*.............................................................Header.................... */

.logo{float:left; margin:25px 0;}

.txt_right{ float:right; margin-top:15px;}




/*.............................................................Form.................... */


.box{border:1px solid #bab9b9; padding:10px; width:600px; color:#707070; font-size:14px; }

.box2{border:1px solid #bab9b9; padding:10px; width:400px; color:#707070; font-size:14px; }

.com_btn{margin:0px; padding:10px 20px; border:0px; background-color:#f7941d; color:#fff; font-size:14px; }




/*.............................................................Check YES or NO.................... */

.check{ margin:25px; text-align:left; padding:10px 15px; border:1px solid #bab9b9; background-color:#f7f7f7;}

.good{}

.icon{padding-right:8px; float:left;}

.bad{}


/*..................................................... Navigation .....................*/	
	

.navigation{ background-color:#5e8cca; float: left; margin-bottom:20px; width:900px; position:relative;background-image:url(/images/navback.jpg); background-repeat:repeat-x;}

.navigation ul{ margin:0px; padding:0px; }

.navigation ul li{list-style:none; float: left; margin: 0; padding: 0; font-weight:normal; }

.navigation li a{float:left; color:#fff; margin: 0; font-size: 14px; text-decoration: none; padding:20px 30px;  }

.navigation li a:hover, .navigation li .active { color:#FFFFFF; background-color:#30a4b1; }

.clear{clear:both;}


/*............................... Search Form.....................*/	


#searchform{ position:absolute; top:13px; right:15px;}

.search_box{ padding:6px; color:#999999; font-size:13px; margin:0; background-color:#FFFFFF; border:1px solid #ccc;}

.search_btn{margin:0 0 0 5px; padding:6px; border:0px; background-color:#f7941d; color:#fff; height:30px; font-size:13px; }



/*.............................................................Footer................... */

.footer{text-align:right; margin-bottom:40px;}




/*.............................................................Table................... */


td { padding: 12px; text-align:left; }

.gray td {background-color:#f7f7f7;}

.table_main { border-top: 1px solid #bab9b9; border-right: 1px solid #bab9b9; border-left: 1px solid #bab9b9;}

.table_main .delete {background:url(images/x2.gif) center left no-repeat; padding-left:12px;}

tr td {border-bottom: 1px solid #bab9b9;}




