
/* Header */


#menu ul li {
	display: block;
	float: left;
	margin: 0px 0 0;
	padding:0 0 0 40px;
	}

#menu ul li a {
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/* Sub Level Nav */
#menu ul li ul {
	background-color:#3d83e3;
	border: 0px solid #000;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	margin: 10px 0 0 -46px;
	padding: 0 10px 0;
	position: absolute;
	width: 126px;
	z-index:9999;
}

#menu ul li ul li {
	border-bottom: 1px solid #CCC;
	
	display: block;
	float: none;
	height: 14px;
	padding: 8px 0;
	text-align: center;
	width: 126px;
	margin: 0;
}

#menu ul li ul li a {
	color: #620d20;
	text-shadow: none;
}

#menu ul li ul li a:hover {
	color: #000;
}

#menu ul li ul li:last-child:not(li.arrow) {
	border: 0;
}

/* Arrow */
.arrow {
	background: url(../images/arrow.png) no-repeat;
	border: 0;
	display: none;
	position: absolute;
		top: -10px;
		left: 63px;
	height: 11px;
	width: 20px;
	text-indent: -9999px;
}